/* Mobile First Design */ 
body{ 
    text-align: center ;
    font-family: 'Courier New', Courier, monospace ;
    background:url("images/leaves.jpg");
}

#content{
    width:95%;
    margin: auto;
    background:rgb(98, 185, 111); 
    border-radius:5px;
    border: 5px dotted black; 
    border-radius: 10px;
    padding:5px;

}
#main-header{  
    padding: 20px; 
    border: 1px solid white;
    background-color: rgba(157, 190, 160, 0.556);
    text-align:center;  
    color: rgb(0, 0, 0);   
    text-shadow: 0 0 5px white, 0 0  10px white, 0 0 20px white, 0 0 40px white;
    margin: 20px ;
}
img{
    height:90px;
    width:125px;
}
ul{
    gap: 10px;
    display:flex; 
    flex-wrap: wrap; 
}
li{
    padding:0px;
    flex:1 1;
}
 
section { 
    display: block ; 
    justify-content: center; 
    color:rgb(0, 0, 0);
}
#GTR-Button{   
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background:rgb(20, 20, 20);
    border-radius: 50%;
    text-decoration:none;
    color:rgb(255, 255, 255);
    padding:14px;
}

#main-content{
    color: rgb(255, 255, 255); 
    font-size:larger; 
    border-radius:0px;
    padding:5px;
    
}

#main-content ul{  
    margin-left: 20px;
    list-style-type:none;
    text-decoration:none;
    padding-left:0;
    text-align:center; /*text and pics list text*/
}
#main-content li{     
    background-color: white;
    border:4px solid rgb(0, 0, 0);  
    
}
#main-content a{ 
    color:rgb(28, 28, 28) ; 
    background-color:white;
    text-decoration:none; /* removes underlines */
    padding:10px 0px;
    display:block;        /* makes the entire area clickable */
}
#main-content a:hover{    /* changes color of link when hover */
    background: black ;   /* backgroung color of hover */
    color: white; /* text color when hover */
}
div#projects img{
    max-width:25%;
}
section#projects a:hover{
    color:white;
    background-color: black;
}
/*Typography*/ 
/* position of text "Assignment __-_____" on page */ 
h3{
    text-align:center;
    
}
section#client-side a {
    margin-top: 10px;
    border: 5px solid black;
}
section#server-side a {
    margin-top: 10px;
    border: 5px solid black;
}
/* For Large Devices Only */ 
@media only screen and (min-width: 768px){
    body{
        background:url("images/palmtree.jpeg");
        background-size: cover; 
        
    }
    #content{ /* width of content on page */
        width:70%;
    }
    .columns{ /* columns */
        display:flex;
    }
    #main-opt li{
        flex:1;
    }
    #main-opt li, #main-opt li:first-child{
        border:10px solid white;
    }
    #main-opt a{
        padding:5px; 
        text-align:center;
    }
    #main-opt a:hover{
        background:black;   
        color: white;
    } 
    
    #GTR-Button{
        
        background: rgb(255, 255, 219);
        border-radius: 5px; 
        text-decoration: none; 
        color: rgb(0, 0, 0); 
        padding:5px; 
    }
    #main-content{
        
       /* background:rgb(0, 110, 255);  */ 
    } 
    
    
   

}
