/* Mobile First Design */ 
body{ 
    text-align: center ;
    font-family: 'Courier New', Courier, monospace ;
    background:rgb(255, 255, 255)
}

#content{
    width:95%;
    margin:auto;
    background:rgb(57, 170, 236); 
    border-radius:5px;
    padding:5px;

}
#main-header{ 
    background-color: rgb(255, 255, 255);
    text-align:center;  
    color: rgb(0, 0, 0);  
    margin: 20px ;
}
img{
    height:200px;
    width:200px;
}
ul{
    gap: 10px;
    display:flex; 
    flex-wrap: wrap; 
}
li{
    padding:0px;
    flex:1 1;
}
 
section { 
    display: block ; 
    justify-content: center; 
    color:rgb(0, 0, 0);
}
#GTR-Button{  
    background:rgb(20, 20, 20);
    border-radius: 5px;
    text-decoration:none;
    color:rgb(255, 255, 255);
    padding:5px;
}

#main-content{
    color: rgb(255, 255, 255); 
    font-size:larger; 
    border-radius:0px;
    padding:5px;
    
}

#main-content ul{  
    margin-left: 20px;
    list-style-type:none;
    text-decoration:none;
    padding-left:0;
    text-align:center; /*text and pics list text*/
}
#main-content li{     
    background-color: white;
    border:4px solid rgb(0, 0, 0);  
    
}
#main-content a{ 
    color:rgb(116, 154, 155) ; 
    background-color:white;
    text-decoration:none; /* removes underlines */
    padding:10px 0px;
    display:block;        /* makes the entire area clickable */
}
#main-content a:hover{    /* changes color of link when hover */
    background: white ;   /* backgroung color of hover */
    color: rgb(116, 154, 155); /* text color when hover */
}
div#projects img{
    max-width:25%;
}
section#projects a:hover{
    color:black;
    background-color:rgb(198, 237, 224);
}
/*Typography*/ 
/* position of text "Assignment __-_____" on page */ 
h3{
    text-align:center;
    
}
/* For Large Devices Only */ 
@media only screen and (min-width: 768px){
    body{
        background:url("images/palmtree.jpeg");
        background-size: cover; 
        
    }
    #content{ /* width of content on page */
        width:70%;
    }
    .columns{ /* columns */
        display:flex;
    }
    #main-opt li{
        flex:1;
    }
    #main-opt li, #main-opt li:first-child{
        border:10px solid white;
    }
    #main-opt a{
        padding:5px; 
        text-align:center;
    }
    #main-opt a:hover{
        background:rgb(204, 222, 239);   
        color: rgb(0, 0, 0);
    } 
    
    #GTR-Button{
        
        background: rgb(255, 255, 219);
        border-radius: 5px; 
        text-decoration: none; 
        color: rgb(0, 0, 0); 
        padding:5px; 
    }
    #main-content{
        
       /* background:rgb(0, 110, 255);  */ 
    } 
    
    
   

}
