body{
    background-color: white;
    background-size: cover;
}
.websec{
    display: block;
    justify-content: center;
}
#web-head{ 
    margin:0px;
    padding-top:0px; 
    padding-bottom:30px;
    position:relative; 
}  
#page-header{
    padding-top: 10px ;
}
#page-heading-text{  
    border-radius: 10px ;
    margin-top:40px ;
    margin-bottom: 70px;
    margin-left: 10px ;
    margin-right: 10px ;
}
#main-nav {
    display:flex;
}
#main-nav li{
    flex-direction: column;
}






#web-head, #webpage-cont {
    border: 0px solid black;
    color:black ;
}
#page-header{ 
    background: linear-gradient(to right,rgb(244, 201, 91),rgb(255, 156, 219),rgb(255, 124, 124)) ;
}




#page-header{ 
    text-align: center ;
    display: block ;
    color:black;
    font-size: 80px;
    font-weight: bold ;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
#page-heading-text{  
    color: rgb(255, 255, 255) ;
    font-family:'Courier New', Courier, monospace;
    text-align:center;
    font-size: 30px;
}
ul.flex a {
    font-weight: bold ;
    font-size:20px ; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}





















@media(min-width:590px) {

 ul.flex{
    display:flex;
    list-style: none;
    width:100%;
}
.flex li{

}
  
.web-sec header#page-header{ 
    display: block ;
    color: black ;
    font-size: 100px;
    font-weight: bold ;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

}

