                    /* HEAD */ 

                    /* BODY */ 
    /**website background**/ 
    body{
        background: url('images/mall.jpeg') ;
    }
    /**typography--Page Title--**/
    #page-title{ 
        color: white ;
        font-family:cursive ; 
        font-size:50px ; 
        text-align: center ; 
        background-color:rgba(127, 217, 255, 0.378) ;  
        text-shadow: -2px -2px 0px, 2px -2px 0px, -2px 2px 0px, 2px 2px 0px black; 
    }  
    /* Website Info*/ 
    p{
        background-color: whitesmoke ;  
        font-family: Verdana, Geneva, Tahoma, sans-serif ; 
    }
    /**text alignment & design--Skincare Title + Section **/ 
    #skincare-title{ 
        color: rgba(245, 114, 53, 0.353) ;  
        text-shadow: -1px -1px 0px, 1px -1px 0px, -1px 1px 0px, 1px 1px 0px rgba(251, 44, 58, 0.502); 
        text-align: center ;  
        font-family: sans-serif ;  
        font-size:xx-large ; 
        border: 5px solid white  ;  
        border-width: 5px ; 
        border-top: 10px solid white  ;  
        border-bottom: 10px solid white  ; 
        border-top-left-radius: 100px; 
        border-bottom-right-radius: 100px ;  
        background-color:rgb(255, 253, 133) ; 
    }  
    table{ 
        margin:auto ;    
        padding: 5% ; 
        background-color: rgb(222, 255, 189) ;  
        border-radius: 74px ;  
        border: 10px dotted ; 
        border-color: rgb(241, 124, 177)    ; 
        
     
        
    } 
    th{
        font-size: 20px ;
        font-family: sans-serif ; 
        font-weight: bolder;   
        border: 1px solid black ; 
        background-color: rgb(182, 229, 255) ; 
    }   
    tr{
        font-size: 14px ; 
        font-family: cursive;    
        border: 0.5px solid black ; 
        
    }
    td{
        font-size: 14px ; 
        font-family: cursive ;    
        border: 0.5px solid black ;  
        text-align: center ;  
        background-color: white ; 
        
    }
    a{
        text-decoration: none ;  
        color: rgb(120, 242, 120) ;  
        font-size: 90px ;  
    }
    #skincare-content{
        background-color: rgba(255, 254, 254, 0.551);
    }
    
    img{
        border: 3px solid ; 
        border-color: black;  
        padding: 1px ;  
        border-radius: 74% ; 
    }
