<!DOCTYPE html>
<html lang="en">
    <head>

        <title></title> //* webpage title *// 
        <link rel="stylesheet" href="styles.css"> //* link styles.css style sheet in 03page_layout folder *// 


    </head>

    <body>
         <div id="content"> //* create div for the content of webpage *// 
               //* sectioning off webpage content div into main-header, main-content, and main-footer *// 
               <header id="main-header"> //* webpage heading/title on screen-top *//

               </header>
               <main id="main-content"> //* webpage content-middle *//

               </main>
               <footer id="main-footer"> //* webpage footer-bottom *// 

               </footer>
         </div>


    </body>

</html>