body{ 
    
    font-family: 'Courier New', Courier, monospace;
}

iframe{
    margin-left: auto;
    margin-right: auto;
    display:block;
    height: 400px;
    width: 400px;
}
img#profile-pic{
    margin: 50px;
} 
span#name-box{
    height: 45px; 
    width: 100px;
    
}
span#bio-box{   
    border-radius: 20% ;
    background-color: white; 
    border: 1px solid black;
    height:45px; 
    width:100px;
    
}
a.audio-pic img{  
    transform: scale(1.01);
    border-radius: 50%;
    height: 45px;
    width:45px;
    object-fit: cover;
}
img#profile-pic { 
    border-radius: 50%;
    height: 200px;
    width:200px;
}
#webpage-cont{    
    max-width:100vw;
    box-sizing: border-box ;
    text-align: center;
    display:flex; 
    flex-wrap: wrap; 
    background: white;
} 
div#user-cont-one{   
    padding:20px;
    box-sizing: border-box ;
    flex: 1;
    margin:10px;
    background-color:lightblue;
}
div#user-cont-two{    
    padding:20px;
    box-sizing: border-box ;
    flex:1;
    margin:10px;
    background-color:rgb(247, 255, 202);
}
