/*Mobile first design*/ 
body{
    background: rgba(252, 252, 144, 0.58); 

}
#content{
    width:95%;
    margin:auto;
    
  

  /*  background:orange; */
    border-radius:5px; 
    padding:5px;

}
#main-header{
  /*  background:blue;*/
    color:rgb(244, 160, 160);
    border-radius:5px; 
    padding:5px;


}

/* Header Design */


head {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
} 

             
#Button {  
    text-align: center ; 
  /*  background-color: white ; */
}
#GTR-Button {
   /* background-color:rgba(114, 250, 116, 0.652) ; */
    font-family:fantasy ;  
    font-size: 20px ;  
    text-decoration: none ;      
    color:white;     
    text-shadow:-1px -1px 0px black, 1px -1px 0px black, -1px 1px 0px black, 1px 1px 0px black ;  /* top left, top right, bottom left, bottom right */ 
    border-radius: 10px ; 
    
    
}
body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#main-header {
    /*background-color:rgba(18, 192, 255, 0.214);*/ 
    font-family:Verdana, Geneva, Tahoma, sans-serif ; 
    text-align: center ; 

}    



  /* Assignments Section */ 

  
#assignments-title {
    text-align: center ; 
}
#main-content ul{
    
list-style-type:none;
padding-left:0;
}
#main-content li{
    border-top: 1px soild black ;
    border-bottom: 1px solid black ;
}

#assignments {
    /*background-color:rgba(18, 152, 255, 0.441);*/
    border-color: 10px solid white; 
    text-align:center;
    padding: 40px;
    border-radius: 10px solid white;
    
    
} 

#assignments a{
    text-align:center;
    padding: 5px;
    text-decoration:none;
    display:block;
    color:rgb(7, 7, 7);
    background: rgba(156, 255, 253, 0.458);
}

.columns {
    display: flex ; 
}


/* Larger Devices Only */ 
@media only screen and(min-width 768px) {
    body{
        background: blueviolet; 
        background-size:cover; 
    }
    
}

